<!-- <div class="my-3 bg-white shadow-sm rounded-xl">
  <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-cogs"></i> Services</h6>
  <div class="px-3 pb-3"> -->

    <!-- Mentoring -->
    <!-- <h6 class="mt-3">Mentoring</h6>
    <ul class="list-unstyled mb-1 pl-3">
      <li>Gears in North Carolina program (LLMs for network attack defense), <em>Winter 2025</em></li>
      <li>Summer Residential Camps: “Seeing through a Digital World” (Lectures on ns-3), <em>Summer 2024</em></li>
      <li>Ruichen Gao, NYU (undergrad intern @ NC State), <em>Jul. 2025 – present</em></li>
      <li>Haotian Zhu, HUST (undergrad intern @ NC State), <em>Jan. 2025 – Feb. 2025</em></li>
    </ul> -->

    <!-- Teaching -->
    <!-- <h6 class="mt-3">Teaching Experience (NC State)</h6>
    <ul class="list-unstyled mb-1 pl-3">
      <li>Teaching Assistant, CSC 316 - Data Structures and Algorithms, Spring 2025</li>
      <li>Teaching Assistant, CSC 226 - Discrete Mathematics for Computer Scientists, Spring 2024</li>
      <li>Teaching Assistant, CSC 246 - Concepts and Facilities of Operating Systems, Spring 2024</li>
      <li>Teaching Assistant, CSC 226 - Discrete Mathematics for Computer Scientists, Fall 2023</li>
    </ul> -->

    <!-- Conference TPC -->
    <h6 class="mt-3">Conference TPC</h6>
    <ul class="list-unstyled mb-1 pl-3">
      <li>IEEE International Conference on Communications (ICC): ISAC Track, 2025</li>
      <li>IEEE International Conference on Communications (ICC): WC Track, 2026</li>
      <li>IEEE International Conference on Communications (ICC): ISAC Track, 2026</li>
    </ul>

    <!-- Journal Reviewer -->
    <h6 class="mt-3">Journal Reviewer</h6>
    <ul class="list-unstyled mb-1 pl-3">
      <li>IEEE Transactions on Mobile Computing (TMC)</li>
      <li>IEEE Journal on Selected Areas in Communications (JSAC)</li>
      <li>IEEE Transactions on Wireless Communications (TWC)</li>
      <li>IEEE Communications Letters</li>
      <li>IEEE Wireless Communications Letters</li>
      <li>ACM Transactions on Internet Technology (TOIT)</li>
      <li>Elsevier Journal of Network and Computer Applications (JNCA)</li>
      <li>Elsevier Computer Communications (ComCom)</li>
      <li>Springer Nature Discover Computing</li>
      <li>Springer Nature Scientific Reports</li>
      <li>Springer Nature Discover Applied Sciences</li>
    </ul>

    <!-- Conference Reviewer -->
    <h6 class="mt-3">Conference Reviewer</h6>
    <ul class="list-unstyled mb-1 pl-3">
      <li>IEEE International Conference on Multimedia and Expo (ICME), 2026</li>
      <li>IEEE International Conference on Communications (ICC), 2026</li>
      <li>IEEE Conference on Local Computer Networks (LCN), 2025</li>
      <li>IEEE International Conference on Communications (ICC), 2025</li>
      <li>International Joint Conference on Neural Networks (IJCNN), 2025</li>
      <li>IEEE Global Communications Conference (Globecom) Workshop, 2025</li>
      <li>IEEE International Conference on High Performance Switching and Routing (HPSR), 2025</li>
      <li>IEEE International Conference on Computer Communications (INFOCOM) Workshop, 2025</li>
      <li>ACM Web Conference (WWW), 2025</li>
      <li>IEEE Global Communications Conference (Globecom) Workshop, 2024</li>
      <li>IEEE International Conference on Communications (ICC) Workshop, 2024</li>
    </ul>

  <!-- </div>
</div> -->
